<p>
  <strong>Name:</strong>
  <%= column.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= column.background_color %>
</p>

<%= link_to 'Show Column', [column.board, column] %> 

<p>
  <%= link_to 'Destroy Column', [column.board, column],
                method: :delete,
                data: {confirm: 'Are you sure?'}%>
</p>