<p>
  <strong>Name:</strong>
  <%= card.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= card.description %>
</p>

<p>
  <%= link_to 'Destroy Card', [card],
              method: :delete,
              data: {confirm: 'Are you sure?'}%>
</p>